a:7:{i:0;a:2:{s:4:"name";s:15:"Beatriz Tavares";s:5:"email";s:27:"beatriztavares@terra.com.br";}i:1;a:2:{s:4:"name";s:3:"Cel";s:5:"email";s:17:"celline@oi.com.br";}i:2;a:2:{s:4:"name";s:12:"Talita Senna";s:5:"email";s:22:"talita@ultradis.com.br";}i:3;a:2:{s:4:"name";s:3:"bia";s:5:"email";s:27:"beatriz.decarvalho@gmal.com";}i:4;a:2:{s:4:"name";s:7:"Rjunior";s:5:"email";s:22:"rjunior@b2b-future.com";}i:5;a:2:{s:4:"name";s:39:"angela.carvalho@conhecerconsultoria.com";s:5:"email";s:39:"angela.carvalho@conhecerconsultoria.com";}i:6;a:2:{s:4:"name";s:39:"Kraus, Caroline NSN - BR/Rio de Janeiro";s:5:"email";s:22:"caroline.kraus@nsn.com";}}